<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>swiper</key>
	<array>
		<dict>
			<key>id</key>
			<string>101</string>
			<key>title</key>
			<string>title1</string>
			<key>titlePicAddr</key>
			<string>1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>102</string>
			<key>title</key>
			<string>title2</string>
			<key>titlePicAddr</key>
			<string>2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>103</string>
			<key>title</key>
			<string>title3</string>
			<key>titlePicAddr</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>104</string>
			<key>title</key>
			<string>title4</string>
			<key>titlePicAddr</key>
			<string>4</string>
		</dict>
	</array>
	<key>comic_category</key>
	<array>
		<dict>
			<key>name</key>
			<string>每日推荐</string>
			<key>comics</key>
			<array>
				<dict>
					<key>id</key>
					<string>101</string>
					<key>title</key>
					<string>title1</string>
					<key>titlePicAddr</key>
					<string>1</string>
				</dict>
				<dict>
					<key>id</key>
					<string>102</string>
					<key>title</key>
					<string>title2</string>
					<key>titlePicAddr</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>103</string>
					<key>title</key>
					<string>title3</string>
					<key>titlePicAddr</key>
					<string>3</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104</string>
					<key>title</key>
					<string>title4</string>
					<key>titlePicAddr</key>
					<string>4</string>
				</dict>
				<dict>
					<key>id</key>
					<string>105</string>
					<key>title</key>
					<string>title5</string>
					<key>titlePicAddr</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>人气推荐</string>
			<key>comics</key>
			<array>
				<dict>
					<key>id</key>
					<string>101</string>
					<key>title</key>
					<string>title1</string>
					<key>titlePicAddr</key>
					<string>1</string>
				</dict>
				<dict>
					<key>id</key>
					<string>102</string>
					<key>title</key>
					<string>title2</string>
					<key>titlePicAddr</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>103</string>
					<key>title</key>
					<string>title3</string>
					<key>titlePicAddr</key>
					<string>3</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104</string>
					<key>title</key>
					<string>title4</string>
					<key>titlePicAddr</key>
					<string>4</string>
				</dict>
				<dict>
					<key>id</key>
					<string>105</string>
					<key>title</key>
					<string>title5</string>
					<key>titlePicAddr</key>
					<string>5</string>
				</dict>
				<dict>
					<key>id</key>
					<string>106</string>
					<key>title</key>
					<string>title6</string>
					<key>titlePicAddr</key>
					<string>6</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
